
*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#divCalculadora{
    border: 3px solid black;
    height: 450px;
    width: 500px;
}


#divScreen{
    margin: 25px;
    border: 3px solid black;
    height: 55px;
    width: 450px;
}


#divNumbers{
    margin: 25px;
    border: 1px solid black;
    height: 300px;
    width:  300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.divNumber, .divIgualYPunto{
    margin: 10px;
    border: 3px solid black;
    height: 45px;
    width:  45px;
    display: flex;
    justify-content: center;
    align-items: center;
}